* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
}
body {
    background-color: #F1F1F3;
}
.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section {
    width: 95%;
    margin-top: 15px;
    margin-bottom: 50px;
}
/* Global Styling */

.advert {
    background-color: #FF9500;
    display: flex;
    gap:  0.7rem;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    height: 50px;
    border-radius: 6px;
    font-weight: 400;
}
.ad-arrow {
    padding-top: 7px;
}
nav {
    height: 70px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    border-bottom: 1px solid #e0e0e6 ;
    color: #262626;
}
.cont {
    width: 90%;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
nav .left {
    display: flex;
    align-items: center;
    gap: 3rem;
}
nav .left ul {
    display: flex;
    list-style: none;
    gap: 1.5rem;
}
nav .left ul li a {
    text-decoration: none;
    color: black;
}
nav .left ul li .live {
    background-color: #e7e7ed;
    border-radius: 6px;
    padding: 10px 20px;
}
nav .right {
    display: flex;
    align-items: center;
}
nav .right ul {
    display: flex;
    list-style: none;
    gap: 2rem;
}
nav .right ul li a {
    text-decoration: none;
    color: black;
}
nav .right ul li .btn {
    color: white;
    background-color: #FF9500;
    padding: 10px 20px;
    border-radius: 6px;
}
.checkbtn {
    font-size: 30px;
    color: #262626;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check {
    display: none;
}
.abstract {
    position: absolute;
    left: -24px;
    top: -30px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    color: #262626;
    width: 100%;
}
.hero-body .block {
    background-color: #FCFCFD;
    display: flex;
    gap: 0.5rem;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    position: relative;
}
.hero .block h1 {
    font-weight: 600;
    font-size: 32px;
}
.hero .block .light {
    padding: 10px 10px;
    background-color: #FFF4E5;
    border-radius: 6px;
}
.hero .catch p {
    font-size: 26px;
    font-weight: 500;
    padding-top: 20px;
    text-align: center;
}
.hero .catch .slogan {
    font-size: 14px;
    font-weight: 400;
}
.hero-btn ul {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    list-style: none;
}
.hero-btn ul li {
    background-color: #FFFFFF;
    padding: 10px 15px;
    border-radius: 6px;
    border: 1px solid #F1F1F3;
    font-weight: 500s;
}
.hero-btn ul li.btn {
    background-color: #FF9500;
    padding: 13px 20px;
    border-radius: 6px;
    font-weight: 600;
}
.hero-btn ul li.btn a {
    color: white;
}
.hero-btn ul li a {
    color: #262626;
}
.card-cont {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.sponsor {
    display: flex;
    gap: 0.2rem;
    justify-self: center;
    align-items: center;
    width: 90%;
    height: 20vh;
    background-color: #FCFCFD;
}
.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
}
.card {
    padding: 22px 44px;
    border-right: 1px solid #F1F1F3;
}