* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
}
body {
    background-color: #F1F1F3;
}
.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section {
    width: 95%;
    margin-top: 15px;
    margin-bottom: 50px;
}
/* Global Styling */

.advert {
    background-color: #FF9500;
    display: flex;
    gap:  0.7rem;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    height: 50px;
    border-radius: 6px;
    font-weight: 400;
}
.ad-arrow {
    padding-top: 7px;
}
nav {
    height: 70px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    border-bottom: 1px solid #e0e0e6 ;
    color: #262626;
}
.cont {
    width: 90%;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
nav .left {
    display: flex;
    align-items: center;
    gap: 3rem;
}
nav .left ul {
    display: flex;
    list-style: none;
    gap: 1.5rem;
}
nav .left ul li a {
    text-decoration: none;
    color: black;
}
nav .left ul li .live {
    background-color: #e7e7ed;
    border-radius: 6px;
    padding: 10px 20px;
}
nav .right {
    display: flex;
    align-items: center;
}
nav .right ul {
    display: flex;
    list-style: none;
    gap: 2rem;
}
nav .right ul li a {
    text-decoration: none;
    color: black;
}
nav .right ul li .btn {
    color: white;
    background-color: #FF9500;
    padding: 10px 20px;
    border-radius: 6px;
}
.checkbtn {
    font-size: 30px;
    color: #262626;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check {
    display: none;
}
.abstract {
    position: absolute;
    left: -24px;
    top: -30px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    color: #262626;
    width: 100%;
}
.hero-body .block {
    background-color: #FCFCFD;
    display: flex;
    gap: 0.5rem;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    position: relative;
}
.hero .block h1 {
    font-weight: 600;
    font-size: 32px;
}
.hero .block .light {
    padding: 10px 10px;
    background-color: #FFF4E5;
    border-radius: 6px;
}
.hero .catch p {
    font-size: 26px;
    font-weight: 500;
    padding-top: 20px;
    text-align: center;
}
.hero .catch .slogan {
    font-size: 14px;
    font-weight: 400;
}
.hero-btn ul {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    list-style: none;
}
.hero-btn ul li {
    background-color: #FFFFFF;
    padding: 10px 15px;
    border-radius: 6px;
    border: 1px solid #F1F1F3;
    font-weight: 500s;
}
.hero-btn ul li.btn {
    background-color: #FF9500;
    padding: 13px 20px;
    border-radius: 6px;
    font-weight: 600;
}
.hero-btn ul li.btn a {
    color: white;
}
.hero-btn ul li a {
    color: #262626;
}
.card-cont {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.sponsor {
    display: flex;
    gap: 0.2rem;
    justify-self: center;
    align-items: center;
    width: 90%;
    height: 20vh;
    background-color: #FCFCFD;
}
.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
}
.card {
    padding: 22px 44px;
    border-right: 1px solid #F1F1F3;
}
.video-cont {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.video {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 95vh;
    border-radius: 8px;
}

.sm-video {
    display: none;
}
.video-img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.video-img .bg-video {
    background-position: center;
    background-size: cover;
}

/* Benefit Section */
.benefit-cont {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.benefit {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.benefit .head {
    display: flex;
    width: 100%;
    gap: 2rem;
    justify-content: space-between;
    margin-bottom: 30px;
}
.benefit .head .text {
    width: 60%;
    color: #262626;
}
.benefit .head .text h3 {
    font-weight: 600;
    font-size: 36px;
    padding-bottom: 10px;
}
.benefit .head .text p {
    font-weight: 400;
    font-size: 16px;
}
.benefit .head .btn  {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.benefit .head .btn a {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #FCFCFD;
    color: #262626;
    border-radius: 6px;
    border: 2px solid #F1F1F3;
}
.benefit .sub {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 40px;
    width: 100%;
}
.benefit .row1 {
    display: flex;
    gap: 1rem;
}
.benefit .row1 .card {
    background-color: #FFFFFF;
    border-radius: 6px;
    padding: 15px 30px;
    height: 322px;
}
.benefit .row1 .card .num {
    display: flex;
    justify-content: right;
    padding-bottom: 12px;
    font-weight: 700;
    font-size: 32px;
}
.benefit .row1 .card .head {
    padding-top: 10px;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
}
.benefit .row1 .card .sub {
    font-weight: 400;
    font-size: 14px;    
}
.benefit .row1 .card .img {
    display: flex;
    justify-content: flex-end;
    
}
.benefit .row1 .card .img img {
    padding: 10px;
    background-color: #F1F1F3;
    border-radius: 6px;
}

/* Courses section */
.course-cont {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.courses {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.courses .head {
    display: flex;
    width: 100%;
    gap: 2rem;
    justify-content: space-between;
    margin-bottom: 30px;
}
.courses .head .text {
    width: 60%;
    color: #262626;
}
.courses .head .text h3 {
    font-weight: 600;
    font-size: 36px;
    padding-bottom: 10px;
}
.courses .head .text p {
    font-weight: 400;
    font-size: 16px;
}
.courses .head .btn  {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.courses .head .btn a {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #FCFCFD;
    color: #262626;
    border-radius: 6px;
    border: 2px solid #F1F1F3;
}
.courses .sub {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.courses .sub .row2 {
    width: 100%;
    display: flex;
    gap: 1rem;



}
.path {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 20px;
}
.path .top {
    background-image: url("./assets/images/web.png");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 6px;
    width: 95%;
    height: 50%;
}
.top2 {
    background-image: url("./assets/images/uiux.png");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 6px;
    width: 95%;
    height: 50%;
}
.top3 {
    background-image: url("./assets/images/mobile.png");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 6px;
    width: 95%;
    height: 50%;
}
.top4 {
    background-image: url("./assets/images/graphic.png");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 6px;
    width: 95%;
    height: 50%;
}
.top5 {
    background-image: url("./assets/images/frontend.png");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 6px;
    width: 95%;
    height: 50%;
}
.top6 {
    background-image: url("./assets/images/adv.png");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 6px;
    width: 95%;
    height: 50%;  
}
.path .bottom {
    width: 95%;
    height: 50%;
}
.descrip {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 25px;
}
.r1 {
    display: flex;
    gap: 2rem;
    color: #4C4C4D;
}
.r1 p {
    padding: 7px 10px;
    border: 1px solid #F1F1F3;
    border-radius: 6px;
    color: #4C4C4D;
    font-size: 12px;
}
.tutor {
    color: #262626;
    font-weight: 500;
    font-size: 14px;
} 
.path .bottom .head {
    font-weight: 600;
    font-size: 18px;
}
.sub {
    font-weight: 400;
    font-size: 14px;
}
.path .bottom .button {
    width: 100%;
    margin-top: 20px;
    text-align: center;
    background-color: #F7F7F8;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 6px;
}
.get {
    text-decoration: none;
    text-align: center;
    color: #262626;
    font-weight: 500;
    font-size: 12px;
}

/* Testimonial Section */
.testimonial-cont {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.testimonial {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.testimonial .head {
    display: flex;
    width: 100%;
    gap: 2rem;
    justify-content: space-between;
    margin-bottom: 30px;
}
.testimonial .head .text {
    width: 60%;
    color: #262626;
}
.testimonial .head .text h3 {
    font-weight: 600;
    font-size: 36px;
    padding-bottom: 10px;
}
.testimonial .head .text p {
    font-weight: 400;
    font-size: 16px;
}
.testimonial .head .btn  {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.testimonial .head .btn a {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #FCFCFD;
    color: #262626;
    border-radius: 6px;
    border: 2px solid #F1F1F3;
}
.testimonial .sub {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.row2 {
    width: 100%;
    display: flex;
    gap: 1rem;
}
.test1 {
    width: 50%;
    height: 220px;
    color: #262626;
}
.test1 .top {
    background-color: #FFFFFF;
    height: 60%;
    padding: 15px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
    border: 1px solid #F1F1F3;
}
.test1 .top p {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
.test1 .bottom {
    background-color: #FCFCFD;
    height: 40%;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0px 0px 10px 10px;
    border: 0.5px solid #F1F1F3;
}
.person {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
.person p {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
}
.test1 a {
    background-color: #F7F7F8;
    border: 1px solid #F1F1F3;
    border-radius: 6px;
    text-decoration: none;
    padding: 14px 16px;
    color: #262626;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
} 

/* Pricing Section */
.pricing-cont {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pricing {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pricing .head {
    display: flex;
    width: 100%;
    gap: 2rem;
    justify-content: space-between;
    margin-bottom: 30px;
}
.pricing .head .text {
    width: 60%;
    color: #262626;
}
.pricing .head .text h3 {
    font-weight: 600;
    font-size: 36px;
    padding-bottom: 10px;
}
.pricing .head .text p {
    font-weight: 400;
    font-size: 16px;
}
.pricing .head .btn  {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}