* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

main {
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
}

.cont-head  {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    width: 80%;
    margin-top: 30px;
    padding: 40px 0;
    border-bottom: 1px solid #59595A;
}

.cont-head h2 {
    font-family: Be Vietnam Pro;
    font-size: 38px;
    font-weight: 600;
    line-height: 57px;
    text-align: left;
    color: #262626;
    width: 30%;
}

.cont-head p {
    font-family: Be Vietnam Pro;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #59595A;
    width: 60%;
}

.contact {
    display: flex;
    justify-content: center;
    width: 80%;
    margin-top: 50px;
}

form {
    width: 50%;
    height: 766px;
    top: 510px;
    left: 80px;
    gap: 0px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1em;
}

.name {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.fname {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.fname input{
    width: 100%;
    height: 40px;
    padding: 20px;
    gap: 12px;
    border-radius: 6px;
    border: 1px solid #F1F1F3;
    color: #FCFCFD;
}

.fname label {
    font-family: Be Vietnam Pro;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
}

.lname {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.lname label {
    font-family: Be Vietnam Pro;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
}

.lname input{
    width: 100%;
    height: 40px;
    padding: 20px;
    gap: 12px;
    border-radius: 6px;
    border: 1px solid #F1F1F3;
    color: #FCFCFD;
}

.lane2 {
    display: flex;
    width: 100%;
    gap: 20px;
}

.mail {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: .5em;
}

.mail label {
    font-family: Be Vietnam Pro;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
}

.mail input{
    width: 100%;
    height: 40px;
    padding: 20px;
    gap: 12px;
    border-radius: 6px;
    border: 1px solid #F1F1F3;
    background-color: #FCFCFD;
}

.mail input::placeholder {
    font-family: Be Vietnam Pro;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #656567;
}

.phone {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: .5em;
}

.phone input{
    width: 100%;
    height: 40px;
    padding: 20px;
    gap: 12px;
    border-radius: 6px;
    border: 1px solid #F1F1F3;
    color: #FCFCFD;
}

.phone input::placeholder {
    font-family: Be Vietnam Pro;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}

.phone label {
    font-family: Be Vietnam Pro;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
}

.subject {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: .5em;
    width: 90%;
}

.subject label {
    font-family: Be Vietnam Pro;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
}

.subject input{
    width: 100%;
    height: 40px;
    padding: 20px;
    gap: 12px;
    border-radius: 6px;
    border: 1px solid #F1F1F3;
    color: #FCFCFD;
}

.subject input::placeholder {
    font-family: Be Vietnam Pro;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}

.message {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: .5em;
    width: 90%;
}

.message label {
    font-family: Be Vietnam Pro;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
}

.message textarea{
    width: 100%;
    height: 138px;
    padding: 20px;
    gap: 12px;
    border-radius: 6px;
    border: 1px solid #F1F1F3;
    background-color: #FCFCFD;
}

.message textarea::placeholder {
    color: #656567;
    font-family: Be Vietnam Pro;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}

form button {
    background-color: #FF9500;
    border: none;
    width: 174px;
    height: 49px;
    padding: 14px 20px 14px 20px;
    gap: 10px;
    border-radius: 6px;
}

.infos {
    width: 50%;
    background-color: black;
    height: 300px;
}