* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
  background-color: #F1F1F3;
}

h1 {
    color: #262626;
}

.txt-w{
    color: #262626;
  }

  .b {
    background-color: #262626;
  }

  .b:hover {
    background-color: #262626;
  }

  .trans {
    background-color: #FF9500;
    width: 206px;
    height: 70px;
  }

  .type {
    background-color: #FFFFFF;
  }

  .price-card,
  .price-card2 {
    background-color: #FCFCFD;
    border: 1px solid #FCFCFD;
  }