* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

main {
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.left {
    width: 60% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.test1 {
    width: 80% !important;
}

.sign-arrows {
    display: flex;
    gap: 5px;
    align-items: flex-end;
    justify-content: flex-end;
    width: 80% !important;
}

.sign-arrow a {
    color: #262626;
    font-weight: 500;
    font-size: 20px;
    padding: 12px;
    background-color: #FFFFFF;
    gap: 10px;
    border-radius: 6px;
    border: 1px solid #F1F1F3;
    opacity: 0px;
}

.right {
    width: 40% !important;
    background-color: #FFFFFF;
    width: 540px;
    height: 556px;
    padding: 40px;
    gap: 40px;
    border-radius: 10px;
}

.right .head {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.head h2 {
    font-size: 38px;
    font-weight: 600;
    line-height: 48px;
    text-align: center;
}

.head p {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}

.checkbox a {
    text-decoration: underline;
}

.final a {
    text-decoration: underline;
}