* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

main {
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 100px 50px;
}

main .left {
    width: 60% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.sign-top p {
    width: 80%;
    font-family: Be Vietnam Pro;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #59595A;
}

main .test1 {
    width: 80% !important;
}

.sign-arrows {
    display: flex;
    gap: 5px;
    align-items: flex-end;
    justify-content: flex-end;
    width: 80% !important;
}

.sign-arrow a {
    color: #262626;
    font-weight: 500;
    font-size: 20px;
    padding: 12px;
    background-color: #FFFFFF;
    gap: 10px;
    border-radius: 6px;
    border: 1px solid #F1F1F3;
    opacity: 0px;
}

main .right {
    width: 40% !important;
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    width: 540px;
    height: 696px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
}

.right .head {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.head h2 {
    font-size: 38px;
    font-weight: 600;
    line-height: 48px;
    text-align: center;
}

.head p {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}

.name {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
}

.name label {
    font-size: 16px;
    font-weight: 500;
    color: #262626;
    line-height: 24px;
    text-align: left;
}

.name input {
    width: 100%;
    height: 44px;
    padding: 20px;
    gap: 10px;
    border-radius: 8px;
    border: 1px;
    border: 1px solid #F1F1F3;
}

.name input::placeholder {
    color: #656567;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.mail {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
}

.mail label {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #262626;
    text-align: left;
}

.mail input {
    width: 100%;
    height: 44px;
    padding: 20px;
    gap: 10px;
    border-radius: 8px;
    border: 1px;
    border: 1px solid #F1F1F3;
}

.mail input::placeholder {
    color: #656567;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.password {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
}

.password label {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #262626;
}

.password input {
    width: 100%;
    height: 44px;
    padding: 20px;
    gap: 10px;
    border-radius: 8px;
    border: 1px;
    border: 1px solid #F1F1F3;
}

.password input::placeholder {
    color: #656567;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.checkbox {
    padding: 10px 0;
    display: flex;
    gap: .5em;
}

.checkbox label {
    font-family: Be Vietnam Pro;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #656567;
}

.checkbox a {
    text-decoration: underline;
    font-family: Be Vietnam Pro;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

main button {
    background-color: #FF9500;
    border: none;
    width: 100%;
    height: 49px;
    padding: 14px 20px 14px 20px;
    gap: 10px;
    border-radius: 8px;
}

.or {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.google {
    background-color: #F7F7F8;
    border: 1px solid #F1F1F3;
    width: 100%;
    height: 49px;
    padding: 14px 20px 14px 20px;
    gap: 10px;
    border-radius: 8px;
}

.final {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.final p {
    font-family: Be Vietnam Pro;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

.final a {
    text-decoration: underline;
    font-family: Be Vietnam Pro;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
}

header .btn {
    width: 86px;
    height: 45px;
    padding: 12px 24px 12px 24px;
    gap: 8px;
    border-radius: 6px;
}

header .live {
    font-family: Be Vietnam Pro;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
}

@media screen and (max-width: 425px) {
    main {
        flex-direction: column-reverse;
    }

    main .right {
        width: 100% !important;
    }

    main .right h2 {
        font-family: Be Vietnam Pro;
        font-size: 28px;
        font-weight: 600;
        line-height: 35px;
        text-align: center;
    }

    main .right .head p {
        font-family: Be Vietnam Pro;
        font-size: 14px;
        font-weight: 400;
        line-height: 17.71px;
        text-align: center;
    }

    label {
        font-family: Be Vietnam Pro;
        font-size: 14px;
        font-weight: 500;
        line-height: 21px;
        text-align: left;
    }
    
    .checkbox label {
        font-family: Be Vietnam Pro;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        text-align: left;
    }
    .checkbox a {
        font-family: Be Vietnam Pro;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        text-align: left;
    }

    .final {
        font-family: Be Vietnam Pro;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        text-align: center;
    }

    .final a {
        font-family: Be Vietnam Pro;
        font-size: 14px;
        font-weight: 500;
        line-height: 21px;
        text-align: center;
    }

    main .left {
        width: 100% !important;
    }

    .sign-top h2 {
        width: 100%;
        font-family: Be Vietnam Pro;
        font-size: 28px;
        font-weight: 500;
        line-height: 42px;
        text-align: left;
    }

    .sign-top p {
        width: 100%;
        font-family: Be Vietnam Pro;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        text-align: left;
    }

    main .test1 {
        width: 100% !important;
    }

    main .test1 p {
        font-family: Be Vietnam Pro;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        text-align: left;
    }

   main .test1 .person p {
        font-family: Be Vietnam Pro;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        text-align: left;
    }

    main .test1 .butn a {
        font-family: Be Vietnam Pro;
        font-size: 14px;
        font-weight: 500;
        line-height: 21px;
        text-align: center;
    }

    .sign-arrows {
        justify-content: center;
        width: 100%;
    }

    .sign-arrow a {
        padding: 10px;
        gap: 6px;
    }
}

@media screen and (max-width: 768px) {
    main {
        flex-direction: column-reverse;
    }

    main .right {
        width: 100% !important;
    }

    main .right h2 {
        font-family: Be Vietnam Pro;
        font-size: 28px;
        font-weight: 600;
        line-height: 35px;
        text-align: center;
    }

    main .right .head p {
        font-family: Be Vietnam Pro;
        font-size: 14px;
        font-weight: 400;
        line-height: 17.71px;
        text-align: center;
    }

    label {
        font-family: Be Vietnam Pro;
        font-size: 14px;
        font-weight: 500;
        line-height: 21px;
        text-align: left;
    }
    
    .checkbox label {
        font-family: Be Vietnam Pro;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        text-align: left;
    }
    .checkbox a {
        font-family: Be Vietnam Pro;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        text-align: left;
    }

    .final {
        font-family: Be Vietnam Pro;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        text-align: center;
    }

    .final a {
        font-family: Be Vietnam Pro;
        font-size: 14px;
        font-weight: 500;
        line-height: 21px;
        text-align: center;
    }

    main .left {
        width: 100% !important;
    }

    .sign-top h2 {
        width: 100%;
        font-family: Be Vietnam Pro;
        font-size: 28px;
        font-weight: 500;
        line-height: 42px;
        text-align: left;
    }

    .sign-top p {
        width: 100%;
        font-family: Be Vietnam Pro;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        text-align: left;
    }

    main .test1 {
        width: 100% !important;
    }

    main .test1 p {
        font-family: Be Vietnam Pro;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        text-align: left;
    }

   main .test1 .person p {
        font-family: Be Vietnam Pro;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        text-align: left;
    }

    main .test1 .butn a {
        font-family: Be Vietnam Pro;
        font-size: 14px;
        font-weight: 500;
        line-height: 21px;
        text-align: center;
    }

    .sign-arrows {
        justify-content: center;
        width: 100%;
    }

    .sign-arrow a {
        padding: 10px;
        gap: 6px;
    }
}